<div class="modal-overlay">
  <div class="modal-content">
    <h2>Asignar Horas Laborales</h2>

    <label for="employee">Selecciona un empleado:</label>
    <select [(ngModel)]="selectedEmployee">
      <option value="" disabled>Selecciona un empleado</option>
      <option *ngFor="let employee of employees" [value]="employee.id">
        {{ employee.name }}
      </option>
    </select>

    <h3>Asignar Horas por Día</h3>

    <label for="monday">Lunes:</label>
    <input type="number" [(ngModel)]="hours.monday" placeholder="Horas Lunes" />

    <label for="tuesday">Martes:</label>
    <input
      type="number"
      [(ngModel)]="hours.tuesday"
      placeholder="Horas Martes"
    />

    <label for="wednesday">Miércoles:</label>
    <input
      type="number"
      [(ngModel)]="hours.wednesday"
      placeholder="Horas Miércoles"
    />

    <label for="thursday">Jueves:</label>
    <input
      type="number"
      [(ngModel)]="hours.thursday"
      placeholder="Horas Jueves"
    />

    <label for="friday">Viernes:</label>
    <input
      type="number"
      [(ngModel)]="hours.friday"
      placeholder="Horas Viernes"
    />

    <label for="saturday">Sábado:</label>
    <input
      type="number"
      [(ngModel)]="hours.saturday"
      placeholder="Horas Sábado"
    />

    <label for="sunday">Domingo:</label>
    <input
      type="number"
      [(ngModel)]="hours.sunday"
      placeholder="Horas Domingo"
    />

    <div class="modal-buttons">
      <button (click)="close()">Cancelar</button>
      <button (click)="saveHours()">Guardar</button>
    </div>
  </div>
</div>
