<div class="dashboard-container">
  <app-shared-dashboard></app-shared-dashboard>
  <div class="dashboard-content">
    <!-- Gráfico de Recursos -->
    <div class="card chart-card large-chart">
      <div class="title-selector-container">
        <h2>Gráfico de Recursos</h2>
        <select
          class="resource-selector"
          [(ngModel)]="selectedResource"
          (change)="onResourceChange()"
        >
          <option *ngFor="let resource of resources" [value]="resource.id">
            {{ resource.name }}
          </option>
        </select>
      </div>
      <div class="chart-container">
        <canvas id="myPieChart" width="100" height="100"></canvas>
      </div>
    </div>

    <!-- Proyectos en Curso -->
    <div class="card project-card">
      <h3>Proyectos en Total</h3>
      <div class="project-info">
        <img
          src="assets/project-icon.png"
          alt="Project Icon"
          class="project-icon"
        />
        <p class="project-count">{{ projectsCount }}</p>
      </div>
      <p class="project-description">Cantidad total de proyectos en curso.</p>
    </div>

    <!-- Proyectos Finalizados -->
    <div class="card project-card">
      <h3>Proyectos Finalizados</h3>
      <div class="project-info">
        <img
          src="assets/project-icon.png"
          alt="Project Icon"
          class="project-icon"
        />
        <p class="project-count">{{ projectsCompleted }}</p>
      </div>
      <p class="project-description">
        Cantidad total de proyectos finalizados.
      </p>
    </div>

    <div class="card project-card">
      <h3>Proyectos en Curso</h3>
      <div class="project-info">
        <img
          src="assets/project-icon.png"
          alt="Project Icon"
          class="project-icon"
        />
        <p class="project-count">{{ projectsInProgress }}</p>
      </div>
      <p class="project-description">Cantidad total de proyectos en Curso.</p>
    </div>

    <!-- Reporte de Eventos -->
    <div class="card summary-card">
      <h3>Reporte de Eventos</h3>
      <div class="table-container">
        <table class="event-table modern-table">
          <thead>
            <tr>
              <th>Nombre del Evento</th>
              <th>Fecha</th>
              <th>Hora de Inicio</th>
              <th>Hora de Fin</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of events">
              <td>{{ event.name }}</td>
              <td>{{ event.date | date : "MM/dd/yy" }}</td>
              <td>{{ event.horaInicio }}</td>
              <td>{{ event.horaFin }}</td>
            </tr>
          </tbody>
        </table>
        <p *ngIf="events.length === 0" class="no-events">
          No hay eventos disponibles.
        </p>
      </div>
    </div>

    <!-- Gráfico de Líneas -->
    <div class="card full-width-card">
      <h3>Gráfico de Líneas</h3>
      <div class="chart-container-line">
        <apx-chart
          [series]="lineChartOptions.series"
          [chart]="lineChartOptions.chart"
          [xaxis]="lineChartOptions.xaxis"
          [title]="lineChartOptions.title"
          style="width: 100%; height: 100%"
        ></apx-chart>
      </div>
    </div>
  </div>

  <!-- Modal de Cierre de Sesión -->
  <div *ngIf="showLogoutModal" class="modal-overlay">
    <div class="modal-content">
      <h2>Confirmar Cierre de Sesión</h2>
      <p>¿Estás seguro de que quieres cerrar sesión?</p>
      <div class="button-group">
        <button class="btn btn-secondary" (click)="closeLogoutModal()">
          Cancelar
        </button>
        <button class="btn btn-danger" (click)="logout()">Cerrar sesión</button>
      </div>
    </div>
  </div>
</div>
