.h2-list {
  font-size: 26px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #1a202c;
}

.employee-page {
  padding: 30px;
  background-color: #f9fafb;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.button-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.add-employee-button {
  background-color: #2563eb;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-employee-button:hover {
  background-color: #1e40af;
  transform: scale(1.05);
}

.search-filters {
  display: flex;
  gap: 15px;
}

.search-filters input {
  padding: 10px;
  border: 1px solid #cbd5e0;
  border-radius: 6px;
  transition: border-color 0.3s ease;
}

.search-filters input:focus {
  border-color: #2563eb;
  outline: none;
}

.table-container {
  max-height: 800px; /* Define la altura máxima de la tabla */
  overflow-y: auto; /* Agrega scroll vertical si la tabla excede la altura */
  margin-bottom: 10px; /* Espacio entre la tabla y otros contenidos */
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.employee-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* Ajustar el estilo de las celdas para reducir el alto de las filas */
.employee-table th,
.employee-table td {
  padding: 8px 12px; /* Reducir el padding para hacer filas más compactas */
  line-height: 1.4; /* Ajustar la altura de línea */
  vertical-align: middle; /* Centrar verticalmente el contenido */
}

/* Mantener el estilo general */
.employee-table th {
  background-color: #2563eb;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.employee-table td {
  border-bottom: 1px solid #e2e8f0;
}

.employee-table tr:hover {
  background-color: #f1f5f9;
}

/* Contenedor de la tabla con scroll */
.table-container {
  max-height: 500px; /* Ajustar el alto máximo */
  overflow-y: auto; /* Habilitar scroll vertical */
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.actions-column {
  display: flex;
  gap: 10px; /* Espacio entre los botones */
}

.action-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: transform 0.2s ease;
}

.action-button:hover {
  transform: scale(1.1); /* Efecto de hover para animación */
}

.action-button svg {
  stroke: #2563eb; /* Color inicial del ícono */
  transition: stroke 0.2s ease;
}

.action-button:hover svg {
  stroke: #1e40af; /* Cambia el color al pasar el cursor */
}
