<div class="content-container">
  <header>
    <h2 class="h2-list">Lista de Empleados</h2>
  </header>

  <div class="employee-page">
    <div class="button-search-container">
      <button class="add-employee-button" (click)="openModal()">
        Agregar Empleado
      </button>
      <div class="search-filters">
        <input
          type="text"
          placeholder="Buscar por nombre..."
          [(ngModel)]="searchTerm"
        />
      </div>
    </div>

    <main>
      <div class="table-container">
        <table class="employee-table">
          <thead>
            <tr>
              <th>DNI</th>
              <th>Nombre</th>
              <th>Tipo</th>
              <th>Cargo</th>
              <th>Área</th>
              <th>Fecha de Ingreso</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="employees$ | async as employees">
              <ng-container
                *ngFor="let employee of filteredEmployees(employees)"
              >
                <tr>
                  <td>{{ employee.dni }}</td>
                  <td>{{ employee.name }}</td>
                  <td>{{ employee.workerType }}</td>
                  <td>{{ employee.position }}</td>
                  <td>{{ employee.area }}</td>
                  <td>{{ employee.entryDate | date }}</td>
                  <td>
                    <button (click)="openEditModal(employee)">
                      <img src="assets/icon-edit.png" alt="Editar" />
                    </button>
                    <button (click)="confirmDelete(employee.id)">
                      <img src="assets/icon-trash.png" alt="Eliminar" />
                    </button>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </div>
    </main>

    <app-employee-modal
      *ngIf="isModalOpen"
      [selectedEmployee]="selectedEmployee"
      (closeModal)="closeModal()"
    >
    </app-employee-modal>
  </div>
</div>
