<div class="modal-overlay">
  <div class="modal-content">
    <h2>Nueva Maquinaria</h2>
    <div>
      <div class="input-group">
        <label for="name">Nombre de la maquinaria:</label>
        <input
          type="text"
          id="name"
          [(ngModel)]="name"
          required
          placeholder="Nombre de la maquinaria"
        />
      </div>
      <div class="input-group">
        <label for="quantity">Cantidad:</label>
        <input
          type="number"
          id="quantity"
          [(ngModel)]="quantity"
          required
          placeholder="Cantidad disponible"
        />
      </div>
      <div class="button-group">
        <button type="button" (click)="closeModal()">Cancelar</button>
        <button type="button" (click)="addMachine()">Agregar</button>
      </div>
    </div>
  </div>
</div>
