<div class="dashboard-container">
  <!-- Sidebar -->
  <app-shared-dashboard class="sidebar"></app-shared-dashboard>

  <!-- Contenedor principal del calendario -->
  <div class="calendar-container">
    <div class="calendar-columns">
      <!-- Columna izquierda con título y selector -->
      <div class="calendar-selector-column">
        <div class="employee-header-title">Horario Laboral</div>
        <div class="employee-card">
          <h3>Buscar Empleado</h3>
          <form class="employee-form">
            <input
              type="text"
              id="search-employee"
              name="search-employee"
              placeholder="Escriba un nombre..."
              (input)="filterByEmployee($event)"
            />
            <div *ngIf="inputError" class="error-message">
              Por favor, ingrese solo letras.
            </div>
          </form>
          <!-- Lista de empleados filtrados -->
          <ul class="employee-list" *ngIf="filteredAssignments.length > 0">
            <li
              *ngFor="let employee of filteredAssignments"
              (click)="selectEmployee(employee)"
            >
              {{ employee.title }}
            </li>
          </ul>
          <!-- Detalles del empleado seleccionado -->
          <div *ngIf="selectedEmployee" class="employee-details">
            <h4>Asignaciones para {{ selectedEmployee.title }}</h4>
            <ul>
              <li
                *ngFor="let assignment of selectedEmployeeAssignments"
                class="assignment-item"
              >
                <div class="assignment-day">
                  Día: {{ assignment.formattedStart.split(",")[0] }}
                  <!-- Mostrar solo el día de la semana -->
                </div>
                <div class="assignment-details">
                  <div class="assignment-date">
                    Fecha: {{ assignment.formattedStart.split(",")[1] }}
                  </div>
                  <div class="assignment-time">
                    Horario: {{ assignment.formattedStart.split(",")[2] }} -
                    {{ assignment.formattedEnd }}
                  </div>
                </div>
              </li>
            </ul>
            <!-- Mostrar sumatoria de horas -->
            <div class="total-hours">
              <h4>Total de horas asignadas:</h4>
              <p>{{ totalAssignedHours | number : "1.1-2" }} horas</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Columna derecha con el calendario -->
      <div class="calendar-main-column">
        <full-calendar
          class="full-calendar"
          [options]="calendarOptions"
        ></full-calendar>
      </div>
    </div>
  </div>
</div>
