<div class="dashboard-container">
  <!-- Barra lateral -->
  <div class="barra-lateral bg-light">
    <div class="nombre-pagina">
      <img src="assets/margarita.png" alt="Flor" class="logo-flor" />
      <span>MargaRed</span>
    </div>

    <nav>
      <ul class="nav flex-column">
        <li class="nav-item">
          <div
            class="section-title"
            [class.active]="activeSections.has('gestiones')"
            (click)="toggleSection('gestiones')"
          >
            Gestiones
          </div>
          <ul *ngIf="activeSections.has('gestiones')" class="section-content">
            <li><a [routerLink]="['/employees']">Empleados</a></li>
            <li><a [routerLink]="['/machinery']">Maquinaria</a></li>
            <li><a [routerLink]="['/dashboard']">Panel de Control</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <div
            class="section-title"
            [class.active]="activeSections.has('operaciones')"
            (click)="toggleSection('operaciones')"
          >
            Operaciones
          </div>
          <ul *ngIf="activeSections.has('operaciones')" class="section-content">
            <li><a [routerLink]="['/work-hours']">Horas Laborales</a></li>
            <li><a [routerLink]="['/projects']">Proyectos</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <div
            class="section-title"
            [class.active]="activeSections.has('recursos')"
            (click)="toggleSection('recursos')"
          >
            Recursos
          </div>
          <ul *ngIf="activeSections.has('recursos')" class="section-content">
            <li>
              <a [routerLink]="['/assign-resources']">Asignar Recursos</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="usuario mt-auto d-flex align-items-center">
      <img
        src="assets/icon-admin.png"
        alt="Usuario"
        height="50px"
        class="me-2"
      />
      <div class="info-usuario">
        <span class="nombre">Bienvenido</span><br />
        <span class="email">Administrador</span>
      </div>
    </div>

    <button class="boton mt-4 w-100" (click)="openLogoutModal()">
      Cerrar sesión
    </button>
  </div>

  <!-- Contenido principal -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <!-- Modal de confirmación de cierre de sesión -->
  <div *ngIf="showLogoutModal" class="modal-overlay">
    <div class="modal-content">
      <h2>Confirmar Cierre de Sesión</h2>
      <p>¿Estás seguro de que quieres cerrar sesión?</p>
      <div class="button-group">
        <button class="btn btn-secondary" (click)="closeLogoutModal()">
          Cancelar
        </button>
        <button class="btn btn-danger" (click)="logout()">Cerrar sesión</button>
      </div>
    </div>
  </div>
</div>
