<div class="dashboard-container">
  <!-- Barra lateral -->
  <div class="barra-lateral bg-light">
    <div class="nombre-pagina">
      <img src="assets/logo2.png" alt="Flor" class="logo-flor" />
      <span>MargaRed</span>
    </div>

    <!-- Selector de Proyectos -->
    <div class="dropdown mt-3">
      <button (click)="toggleDropdown()" class="dropdown-btn">
        Administración General
      </button>
      <ul [class.open]="isDropdownOpen" class="dropdown-menu">
        <li *ngFor="let project of projects" (click)="selectProject(project)">
          {{ project.name }}
        </li>
      </ul>
      <p *ngIf="isDropdownOpen && projects.length === 0">
        No hay proyectos disponibles.
      </p>
    </div>

    <!-- Navegación -->
    <nav>
      <ul class="nav flex-column">
        <!-- Panel de Control -->
        <li class="nav-item">
          <a [routerLink]="['/dashboard']" class="section-title">
            <i class="ti ti-layout-dashboard"></i>
            Panel de Control
          </a>
        </li>

        <!-- Gestiones -->
        <li class="nav-item">
          <div
            class="section-title"
            [class.active]="activeSections.has('gestiones')"
            (click)="toggleSection('gestiones')"
          >
            <i class="ti ti-clipboard-text"></i>
            Gestiones
          </div>
          <ul *ngIf="activeSections.has('gestiones')" class="section-content">
            <li>
              <a [routerLink]="['/employees']">
                <i class="ti ti-user-edit"></i>
                Empleados
              </a>
            </li>
            <li>
              <a [routerLink]="['/machinery']">
                <i class="ti ti-bulldozer"></i>
                Maquinaria
              </a>
            </li>
          </ul>
        </li>

        <!-- Operaciones -->
        <li class="nav-item">
          <div
            class="section-title"
            [class.active]="activeSections.has('operaciones')"
            (click)="toggleSection('operaciones')"
          >
            <i class="ti ti-stack"></i>
            Operaciones
          </div>
          <ul *ngIf="activeSections.has('operaciones')" class="section-content">
            <li>
              <a [routerLink]="['/calendar']">
                <i class="ti ti-calendar-event"></i>
                Calendario Laboral
              </a>
            </li>
            <li>
              <a [routerLink]="['/projects']">
                <i class="ti ti-folder"></i>
                Proyectos
              </a>
            </li>
          </ul>
        </li>

        <!-- Combustible (Nuevo Apartado) -->
        <li class="nav-item">
          <a [routerLink]="['/fuel']" class="section-title">
            <i class="ti ti-gas-station"></i>
            Combustible
          </a>
        </li>

        <!-- Recursos -->
        <li class="nav-item">
          <div
            class="section-title"
            [class.active]="activeSections.has('recursos')"
            (click)="toggleSection('recursos')"
          >
            <i class="ti ti-ballpen"></i>
            Productividad
          </div>
          <ul *ngIf="activeSections.has('recursos')" class="section-content">
            <li>
              <a [routerLink]="['/fuel-assignment']">
                <i class="ti ti-report"></i>
                Racionamiento
              </a>
            </li>
            <li>
              <a [routerLink]="['/employee-schedule']">
                <i class="ti ti-calendar"></i>
                Horario Laboral
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <!-- Información del Usuario y Cerrar Sesión -->
    <div class="usuario mt-auto d-flex align-items-center user-info-container">
      <img
        src="assets/icon-admin.png"
        alt="Usuario"
        height="50px"
        class="user-avatar"
      />
      <div class="info-usuario">
        <span class="nombre">Bienvenido</span><br />
        <span class="email">Administrador</span>
      </div>
    </div>

    <button class="boton mt-4 w-100 logout-btn" (click)="openLogoutModal()">
      Cerrar sesión
    </button>
  </div>

  <!-- Contenido principal -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <!-- Modal de confirmación de cierre de sesión -->
  <div *ngIf="showLogoutModal" class="modal-overlay">
    <div class="modal-content">
      <h2>Confirmar Cierre de Sesión</h2>
      <p>¿Estás seguro de que quieres cerrar sesión?</p>
      <div class="button-group">
        <button class="btn btn-secondary" (click)="closeLogoutModal()">
          Cancelar
        </button>
        <button class="btn btn-danger" (click)="logout()">Cerrar sesión</button>
      </div>
    </div>
  </div>
</div>
