<div class="dashboard-container">
  <!-- Barra lateral compartida -->
  <app-shared-dashboard></app-shared-dashboard>

  <!-- Contenido específico de empleados -->
  <div class="dashboard-content">
    <h1>Gestión de Empleados</h1>

    <!-- Botón para abrir modal -->

    <!-- Componente de lista de empleados -->
    <app-employee-list></app-employee-list>

    <!-- Modal solo visible cuando showModal es true -->
    <app-employee-modal
      *ngIf="showModal"
      (closeModal)="closeEmployeeModal()"
    ></app-employee-modal>
  </div>
</div>
