<div class="dashboard-container">
  <app-shared-dashboard></app-shared-dashboard>

  <div class="dashboard-content">
    <!-- Componente de lista de maquinarias -->
    <app-machinery-list></app-machinery-list>

    <!-- Botón para abrir el modal -->
    <button class="open-modal-btn" (click)="openModal()">
      Agregar Maquinaria
    </button>

    <!-- Modal de maquinarias -->
    <app-machinery-modal
      *ngIf="showModal"
      [isOpen]="showModal"
      (close)="handleCloseModal()"
    ></app-machinery-modal>
  </div>
</div>
