<div class="dashboard-container">
  <!-- Sidebar -->
  <app-shared-dashboard></app-shared-dashboard>

  <!-- Contenido principal de la tabla de asignación de combustible -->
  <div class="dashboard-content">
    <header>
      <h2 class="h2-list">Tabla de Combustible Asignado</h2>
    </header> 
  
    <div class="assign-form">
      <!-- Controles de Filtro -->
      <div class="filter-section">
        <h3 class="filter-title">Filtrar Registros</h3>
        <div class="filter-options">
          <label class="filter-option">
            <input type="radio" name="filterType" value="day" [(ngModel)]="filterType" (change)="setFilterType('day')" />
            <span>Por Día</span>
          </label>
          <label class="filter-option">
            <input type="radio" name="filterType" value="month" [(ngModel)]="filterType" (change)="setFilterType('month')" />
            <span>Por Mes</span>
          </label>
        </div>
    
        <!-- Inputs dinámicos según el filtro seleccionado -->
        <div class="filter-inputs">
          <div *ngIf="filterType === 'day'">
            <label for="filterDate">Seleccionar Fecha:</label>
            <input type="date" id="filterDate" (change)="onFilterDateChange($event)" />
          </div>
    
          <div *ngIf="filterType === 'month'">
            <label for="filterMonth">Seleccionar Mes:</label>
            <input type="month" id="filterMonth" (change)="onFilterMonthChange($event)" />
          </div>
        </div>
      </div>

    <!-- Menú de exportación -->
      <div class="export-menu" #exportMenu>
        <button class="export-button" (click)="toggleExportMenu($event)">
          <span class="hamburger-icon">☰</span>
          <span>Exportar</span>
        </button>

        <!-- Opciones del menú desplegable -->
        <div *ngIf="showExportMenu" class="export-options">
          <button (click)="exportAsPDF()">
            <i class="material-icons export-icon">picture_as_pdf</i> PDF
          </button>
          <button (click)="exportAsExcel()">
            <i class="material-icons export-icon">grid_on</i> Excel
          </button>
          <button (click)="exportAsCSV()">
            <i class="material-icons export-icon">table_chart</i> CSV
          </button>
          <button (click)="exportAsImage()">
            <i class="material-icons export-icon">image</i> PNG
          </button>
        </div>
      </div>
      
      <br/><br/>
      
      <!-- Tabla de combustible asignado -->
      <table #table>
        <thead>
          <tr>
            <th>Proyecto</th>
            <th>Empleado Asignado</th>
            <th>Máquina asignada</th>
            <th>Máquina Específica</th>
            <th>Combustible Asignado (L)</th>
            <th>Costo</th>
            <th>Detalle</th>
          </tr>
        </thead> 
        
        <tbody>
          <tr *ngFor="let record of filteredFuelRecords">
            <td class="project-name">{{ getProjectName(record.machineId) }}</td>
            <td class="employee-name">{{ getEmployeeName(record.machineId) }}</td>
            <td>{{ record.machineType }}</td>
            <td>{{ record.machineId }}</td>
            <td>{{ record.totalFuelAssigned }}</td>
            <td>{{ 'S/' + (record.totalFuelAssigned * 4.91).toFixed(2) }}</td>
            <td>
              <button
        class="detail-button"
        *ngIf="record.dateAssigned"
        (click)="viewDetails(record.machineId, record.dateAssigned.toDate().toISOString().split('T')[0])">
        Ver detalle
      </button>
            </td>
          </tr>
        </tbody>

        <!-- Fila de Totales -->
        <tfoot>
          <tr>
            <td colspan="4" style="text-align:center; font-weight: bold; font-size: 18px;">Total</td>
            <td class="total-fuel" style="font-size: 18px;">{{ totalFuel }}</td> 
            <td style="font-size: 18px;">{{ 'S/' + totalCost.toFixed(2) }}</td> 
            <td></td>
          </tr>
        </tfoot>        
      </table>
    </div>
  </div>

  <!-- Modal para mostrar el historial de combustible -->
  <div *ngIf="modalVisible" class="modal">
    <div class="modal-content">
      <h2>Detalle de Combustible</h2>
      <ul>
        <li *ngFor="let record of modalFuelHistory">
          Combustible: {{ record.totalFuelAssigned }} litros,
          Fecha: {{ record.dateAssigned.toDate() | date: 'dd/MM/yyyy HH:mm' }}
        </li>
      </ul>
      <button (click)="closeModal()">Cerrar</button>
    </div>
  </div>
  
</div>