<div class="modal-overlay">
  <div class="modal-content">
    <h2 class="modal-title">
      {{ selectedEmployee ? "Editar Empleado" : "Nuevo Empleado" }}
    </h2>

    <div class="modal-grid">
      <div class="input-group">
        <label for="dni">DNI:</label>
        <input
          type="text"
          id="dni"
          [(ngModel)]="dni"
          (keydown)="onDniKeydown($event)"
          maxlength="8" 
          required
        />
      </div>

      <div class="input-group">
        <label for="name">Nombre:</label>
        <input
          type="text"
          id="name"
          [(ngModel)]="name"
          (keydown)="onNameKeydown($event)"
          maxlength="30" 
          required
        />
      </div>

      <div class="input-group">
        <label for="workerType">Tipo de Trabajador:</label>
        <select id="workerType" [(ngModel)]="workerType" name="workerType" required>
          <option value="" disabled selected>Selecciona un tipo</option>
          <option value="OPERADOR">OPERADOR</option>
          <option value="OBRERO">OBRERO</option>
        </select>
      </div>

      <div class="input-group">
        <label for="entryDate">Fecha de Ingreso:</label>
        <input type="date" id="entryDate" [(ngModel)]="entryDate" [disabled]="true" />
      </div>
    </div>

    <div class="button-group">
      <button class="button-cancel" type="button" (click)="close()">
        Cancelar
      </button>
      <button
        class="button-save"
        type="button"
        (click)="selectedEmployee ? editEmployee() : addEmployee()"
      >
        {{ selectedEmployee ? "Actualizar" : "Agregar" }}
      </button>
    </div>
  </div>
</div>
