/* Estilo general para el contenedor principal */
h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

p {
  text-align: center;
  font-size: 16px;
  color: #555;
}

/* Estilo para las secciones */
h3 {
  font-size: 20px;
  color: #007BFF;
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid #007BFF;
  padding-bottom: 5px;
}

/* Estilo para los selectores */
select {
  width: 100%;
  max-width: 400px; /* Max width for better layout */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 20px;
  transition: border-color 0.3s;
}

select:focus {
  border-color: #007BFF; /* Color de borde al hacer focus */
  outline: none; /* Remover outline */
}

/* Estilo para los botones */
button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-bottom: 20px; /* Espacio entre botones y la lista */
  display: block; /* Para centrar el botón */
  width: 100%;
  max-width: 200px; /* Max width para el botón */
  margin-left: auto; /* Centrar el botón */
  margin-right: auto; /* Centrar el botón */
}

button:hover {
  background-color: #0056b3; /* Color más oscuro al pasar el mouse */
}

button:active {
  transform: scale(0.98); /* Efecto de presión */
}

/* Estilo para las listas */
ul {
  list-style-type: none; /* Sin viñetas */
  padding: 0;
}

li {
  background-color: #ffffff; /* Fondo claro para cada elemento */
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px; /* Espaciado entre elementos */
  transition: background-color 0.3s;
}

li:hover {
  background-color: #e9ecef; /* Color de fondo al pasar el mouse */
}

/* Estilo para mensajes de carga */
.loading-message {
  text-align: center;
  font-size: 18px;
  color: #666;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.selected-items {
  margin-bottom: 20px;
}

.selected-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.selected-item {
  background-color: #d4edda;
  padding: 5px 10px;
  border-radius: 5px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selector-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.employee-selector,
.machine-selector {
  width: 45%;
}

.assign-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.assign-button:hover {
  background-color: #0056b3;
}
