<div *ngIf="teamMembers.length > 0; else noTeam">
  <h3>Miembros del Equipo</h3>
  <ul>
    <li *ngFor="let member of teamMembers">
      <strong>Nombre:</strong> {{ member.nombre }} <br />
      <strong>Rol:</strong> {{ member.rol }} <br />
      <strong>Hora de Inicio:</strong> {{ member.horaInicio }} <br />
      <strong>Hora de Fin:</strong> {{ member.horaFin }} <br />
    </li>
  </ul>
</div>

<ng-template #noTeam>
  <p>No hay miembros del equipo asignados para este proyecto.</p>
</ng-template>
