.table-container {
  margin-top: 20px;
  overflow-x: auto;
}

.team-table {
  width: 100%;
  border-collapse: collapse;
}

.team-table th,
.team-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.team-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.team-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.team-table tr:hover {
  background-color: #f1f1f1;
}

.action-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.action-button:hover svg {
  stroke: #007bff; /* Cambia el color del ícono cuando se pasa el ratón */
}

.action-button:active svg {
  stroke: #0056b3; /* Cambia el color del ícono cuando se hace clic */
}
