<div class="dashboard-container">
  <app-shared-dashboard></app-shared-dashboard>

  <div class="dashboard-content">
    <header>
      <h2 class="h2-list">Asignación de Encargados</h2>
    </header>
    <br /><br />

    <div class="assign-form">
      <label class="label-employee">Selecciona un empleado:</label>
      <select [(ngModel)]="selectedEmployee">
        <option value="">Selecciona un empleado</option>
        <option *ngFor="let employee of employees" [value]="employee.id">
          {{ employee.name }}
        </option>
      </select>
      <br /><br />

      <label class="label-machine">Selecciona una máquina:</label>
      <select
        [(ngModel)]="selectedMachine"
        (change)="setSelectedMachineName($event)"
      >
        <option value="">Selecciona una máquina</option>
        <ng-container *ngFor="let machine of machines">
          <option *ngIf="machine?.status === 'Disponible'" [value]="machine.id">
            {{ machine.name }}
          </option>
        </ng-container>
      </select>
      <br /><br />

      <button (click)="handleAssignMachine()">Asignar Máquina</button>
    </div>
  </div>
</div>
